@model Vm.Models.Team

<h2>Delete Team</h2>
<h4>Are you sure you want to delete: @Model.Name?</h4>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
